extends ../layout

block panelContent
  table.table.table-hover
    thead
      tr
        th Item
        th Status
        th Actions
    tbody
      each appliance in appliances
        tr
          th(scope="row", style="vertical-align: middle;")= appliance.name
          if appliance.isON
            td(style="vertical-align: middle;"): span.label.label-warning.center In Use
          else
            td(style="vertical-align: middle;"): span.label.label-success.center Ready
          td
            each action in appliance.actions
              div: a(href="/appliances/" + appliance.name + "/" + "?action=" + escape(action.name))= action.name
  if actionResult !== undefined
    script.
      window.onload = function() {
        new PNotify({
          title: "Action Triggered",
          text: "'#{actionName}' was triggered in the #{appliance}.\n The result was: \n #{actionResult}",
          type: 'info',
          styling: 'bootstrap3'
        });
      };
