.top_nav
  .nav_menu
    nav
      .nav.toggle
        a#menu_toggle: i.fa.fa-bars
      ul.nav.navbar-nav.navbar-right
        li(class="")
          a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
            img(src='img/img.jpg', alt="")
            | John Doe
            | 
            span.fa.fa-angle-down
          ul.dropdown-menu.dropdown-usermenu.pull-right
            li: a(href='javascript:;') Profile
            li
              a(href='javascript:;')
                span.badge.bg-red.pull-right 50%
                span Settings         
            li: a(href='javascript:;') Help
            li: a(href='login.html')
              i.fa.fa-sign-out.pull-right
              | Log Out
        li(role='presentation', class='dropdown') 
          a.dropdown-toggle.info-number(href='javascript:;', data-toggle='dropdown' ,aria-expanded='false') 
            i.fa.fa-envelope-o
            span.badge.bg-green 6
          ul#menu1.dropdown-menu.list-unstyled.msg_list(role='menu')
            li: a 
              span.image: img(src='img/img.jpg', alt='Profile Image') 
              span 
                span John Smith
                span.time 3 mins ago
              span.message Film festivals used to be do-or-die moments for movie makers. They were where...
            li: a 
              span.image: img(src='img/img.jpg', alt='Profile Image') 
              span 
                span John Smith
                span.time 3 mins ago
              span.message Film festivals used to be do-or-die moments for movie makers. They were where...
            li
              .text-center
                a
                  strong See All Alerts
                  i.fa.fa-angle-right