.top_nav
  .nav_menu
    nav
      .nav.toggle
        a#menu_toggle: i.fa.fa-bars
      ul.nav.navbar-nav.navbar-right
        li(class="")
          a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
            img(src='/img/remy.jpg', alt="")
            | Remy
            | 
            span.fa.fa-angle-down
          ul.dropdown-menu.dropdown-usermenu.pull-right
            li: a(href='javascript:;') Profile
            li
              a(href='javascript:;')
                span.badge.bg-red.pull-right 50%
                span Settings         
            li: a(href='javascript:;') Help
            li: a(href='login.html')
              i.fa.fa-sign-out.pull-right
              | Log Out
        li(role='presentation', class='dropdown') 
          a.dropdown-toggle.info-number(href='javascript:;', data-toggle='dropdown' ,aria-expanded='false') 
            i.fa.fa-shopping-cart
            span.badge.bg-green= purchases.length.toString()
          ul#menu1.dropdown-menu.list-unstyled.msg_list(role='menu')
            each purchase in purchases
              li: a(href="/supplies/"+purchase.name+"/buy")
                span.image: i.fa.fa-shopping-basket(style="font-size: 30px !important; float: left; margin-right: 10px; width: 11%")
                span 
                  span= purchase.name
                  //-span.time 3 mins ago
                span.message
                  | You're running out of 
                  strong #{purchase.name}
                  | . Your Smart Kitchen recommends you to buy more!
              .text-center
                a(href="/supplies")
                  strong See All Purchases 
                  i.fa.fa-angle-right