//-sidebar menu
#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    h3 My Kitchen
    ul.nav.side-menu
      li
        a(href="/")
          i.fa.fa-home
          | Home
      li
        a(href="/appliances")
          i.fa.fa-cog
          | Appliances
      li
        a
          i.fa.fa-cutlery
          | Supplies
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li: a(href='/supplies') Browse all
          li: a(href='/supplies/fridge') Fridge
          li: a(href='/supplies/freezer') Freezer
          li: a(href='/supplies/cupboard') Cupboard
  .menu_section
    h3 Recipes  
    ul.nav.side-menu
      li
        a(href="#")
          i.fa.fa-history
          | History
      li
        a(href="#")
          i.fa.fa-cutlery
          | Cook Now!
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li: a(href='#') Browse All
          li: a(href='#') Appetizer
          li: a(href='#') Main Course
          li: a(href='#') Dessert

//- menu footer buttons
  .sidebar-footer.hidden-small
    a(data-toggle='tooltip', data-placement='top', tittle='Settings')
      span.glyphicon.glyphicon-cog(aria-hidden='true')
    a(data-toggle='tooltip', data-placement='top', title='FullScreen')
      span.glyphicon.glyphicon-fullscreen(aria-hidden='true')
    a(data-toggle='tooltip', data-placement='top', title='Lock')
      span.glyphicon.glyphicon-eye-close(aria-hidden='true')
    a(data-toggle='tooltip', data-placement='top', title='Logout" href="login.html')
      span.glyphicon.glyphicon-off(aria-hidden='true')