script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(src='/lib/fastclick/lib/fastclick.js')
script(src='/lib/nprogress/nprogress.js')
//-script(src='/lib/Chart.js/dist/Chart.min.js')
//-script(src='/lib/gauge.js/dist/gauge.min.js')
//-script(src='/lib/bootstrap-progressbar/bootstrap-progressbar.min.js')
//-script(src='/lib/iCheck/icheck.min.js')
//-script(src='/lib/skycons/skycons.js')
//-script(src='/lib/Flot/jquery.flot.js')
//-script(src='/lib/Flot/jquery.flot.pie.js')
//-script(src='/lib/Flot/jquery.flot.time.js')
//-script(src='/lib/Flot/jquery.flot.stack.js')
//-script(src='/lib/Flot/jquery.flot.resize.js')
//-script(src='/lib/flot.orderbars/js/jquery.flot.orderBars.js')
//-script(src='/lib/flot-spline/js/jquery.flot.spline.min.js')
//-script(src='/lib/flot.curvedlines/curvedLines.js')
//-script(src='/lib/DateJS/build/date.js')
//-script(src='/lib/jqvmap/dist/jquery.vmap.js')
//-script(src='/lib/jqvmap/dist/maps/jquery.vmap.world.js')
//-script(src='/lib/jqvmap/examples/js/jquery.vmap.sampledata.js')
//-script(src='/lib/moment/min/moment.min.js')
//-script(src='/lib/bootstrap-daterangepicker/daterangepicker.js')
script(src='/js/custom.js')